@{
    ViewBag.Title = "Index Latest Activity";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <p>Not much going on here</p>
    </div>
</body>
</html>
