
@{
    ViewBag.Title = "Settlements Home Page";
}

<div class="row">
    <div class="col-md-3">
        <h2>Settlements Home Page</h2>
        <ul>
            <li>@Html.ActionLink("AJC Settlements", "AJCSettlement", "Settlements")</li>
            <li>@Html.ActionLink("Wheat Settlements", "WheatSettlement", "Settlements")</li>
        </ul>
    </div>
</div>

